<div class="match-id">{{matchId | async}}</div>
<div class="match-status">{{matchStatus | async}}</div>
<div class="match-type">{{matchType | async}}</div>
<a routerLink="edit" class="edit-link">Edit</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of participants | async">
      <td class="participant-id">{{participant.id}}</td>
      <td class="participant-path">{{participant.attributes.path}}</td>
    </tr>
  </tbody>
</table>